.Btn {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0.85em 1em;
  font-size: 0.9rem;
  background-color: #2199e8;
  color: #fefefe;
}
